%blocks {

    padding: 3rem 0;

    h2 {
        color: $color-01;
    }
    
    ul {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        justify-content: space-between;
        height: auto;
        margin: $space-default auto;
        padding: 1rem 0;
        width: 100%;

        @media (max-width: $tablet) {
            display: block;
        }
    }

    li {
        color: $color-02;
        margin: $space-default .75rem;
        text-align: center;
        width: calc(99% / 3 - 15px);

        @media (max-width: $tablet) {
            width: calc(99% - 30px);
        }
        
        .img-container {
            display: block;
            height: 15rem;
            overflow: hidden;
            width: 100%;
            @media (max-width: $tablet) {
                height: 20rem;
            }
        }
        
        .img-container:hover {
            filter: brightness(2);
        }

        a {
            background-color: $color-01;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: $font-medium;
            margin: $mt-02 auto $mb;
            padding: 4px 8px;
            text-align: center;
            text-decoration: none;
        }

        a:hover {
            opacity: 0.8;
        }
    
    }
}