.blocks {
    padding: 1rem 0;

    &__title {
        color: $color-01;
        margin-left: $mt-02;
        font-weight: 700;
    }
    
    &__list {
        list-style-type: none;
        font-size: $font-small;
        display: flex;
        justify-content: space-between;
        height: auto;
        margin: $space-default auto;
        padding: 1rem 0;
        width: 100%;

        @media (max-width: $tablet) {
            display: block;
        }
    }

    &__item {
        color: $color-02;
        margin: $space-default .75rem;
        text-align: center;
        width: calc(99% / 3 - 15px);

        @media (max-width: $tablet) {
            width: calc(99% - 30px);
        }  
    }

    &__img-container {
        display: block;
        height: 15rem;
        overflow: hidden;
        width: 100%;

        @media (max-width: $tablet) {
            height: 20rem;
        }

        &:hover {
            filter: brightness(2);
        }
    }
    
    &__button {
        background-color: $color-01;
        border-radius: 5px;
        color: white;
        display: block;
        width: 80%;
        font-size: $font-medium;
        margin: 0 auto $mb;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
    }

    &__button:hover {
        opacity: 0.8;
    }

    &__description {
        color: $color-default;
        font-size: $font-small;
        padding: $space-default;

        &--destack {
            color: $color-04;
            font-weight: 700;
        }
    }
}