@mixin theme($theme: $color-04, $bg: $color-04){
    border: 2px solid $theme;
    background-color: $bg;
}

.cars {
    &__title {
        color: $color-default;
    }
    &--destacks {
        @include theme;
        display: flex;
        height: max-content;
        align-items: baseline;
        flex-flow: column;
        border: 5px solid $color-03 
    }

     &__item {
        @include theme ($theme: $color-default, $bg: $bg-color);
        color: $color-01;
        /*display: flex;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;*/
    }
    
    &__button {
        background-color: $color-default;
        &--destack {
            background-color: $color-01;
        }
    }
}