.footer {
    display: block;
    background-color: $bg-color;
    margin: 50px auto 0 auto;
    padding: 1rem 0;
    width: 100%;
    
    &__description {
        text-align: center;
    }

    strong:hover{
        color: $color-01;
    }    

    &__nav {
        display: flex;
        justify-content: center;
    }

    &__image{
        width: 40px;
        height: 40px;
        margin: 10px 10px;

        &:hover {
            opacity: 0.5;
        }
    }
    
    
}





