.header {
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
    padding: 1.2rem 0;

    .container {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    &__title {
        margin-top: 0;
        color: $color-04;
        float: left;
    }

    &__list {
        display: flex;
        flex-direction: row;
        align-items: center;   
    }

    &__item {
        margin: 0 10px;
    }

    &__link {
        color: $color-04;
        font-weight: 700;
        &:hover {
            color: $color-01;
        }
    }

    &__input {
        height: 30px;
        border: 1px solid $color-04;
        font-size: 0.9rem;
        padding-left: 10px;
    }

    &__button {
        height: 30px;
        width: 100px;
        color: $bg-color;
        background-color: $color-04;
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
        &:hover {
            opacity: 0.7;
        }
    }
}


