@use 'sass:math'; //declaração para importar a biblioteca de matemática do sass

* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62,5%;
}

body {
    font-family: $font-family-default;
    font-size: $font-small;
    color: $color-default;
}

div,
p {
    display: block;
}

section {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: math.div(1200, 1200) * 100%;

    @media (max-width: 1199px){
        max-width: math.div(1000, 1200) * 100%;
    }
}



img {
    width: 100%;
    height: auto;
}

p {
    color: $color-04;
    font-size: $font-small;
    text-align: $align;
}

h1 {
    color: $color-01;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: $font-big;
    margin-top: $mt-02;
}

h2 {
    color: $color-04;
    font-size: $font-medium;
}

h3 {
    color: $color-03;
    font-size: $font-normal;
}



