$align: left;
$bg-color: #ddd;
$color-01: #559;
$color-02: #999;
$color-03: #f00;
$color-04: #222;
$color-05: rgb(15, 121, 15);
$color-default: #444;
$font-big: 3rem;
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2rem;
$font-normal: 1.8rem;
$font-small: 1.4rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
$tablet: 999px;