* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #444;
}

div,
p {
  display: block;
}

section {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}
@media (max-width: 1199px) {
  .container {
    max-width: 83.3333333333%;
  }
}

img {
  width: 100%;
  height: auto;
}

p {
  color: #222;
  font-size: 1.4rem;
  text-align: left;
}

h1 {
  color: #559;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3rem;
  margin-top: 3rem;
}

h2 {
  color: #222;
  font-size: 2rem;
}

h3 {
  color: #f00;
  font-size: 1.8rem;
}

.blocks {
  padding: 1rem 0;
}
.blocks__title {
  color: #559;
  margin-left: 3rem;
  font-weight: 700;
}
.blocks__list {
  list-style-type: none;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 1.5rem auto;
  padding: 1rem 0;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__list {
    display: block;
  }
}
.blocks__item {
  color: #999;
  margin: 1.5rem 0.75rem;
  text-align: center;
  width: calc(33% - 15px);
}
@media (max-width: 999px) {
  .blocks__item {
    width: calc(99% - 30px);
  }
}
.blocks__img-container {
  display: block;
  height: 15rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 999px) {
  .blocks__img-container {
    height: 20rem;
  }
}
.blocks__img-container:hover {
  filter: brightness(2);
}
.blocks__button {
  background-color: #559;
  border-radius: 5px;
  color: white;
  display: block;
  width: 80%;
  font-size: 2rem;
  margin: 0 auto 1.5rem;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
}
.blocks__button:hover {
  opacity: 0.8;
}
.blocks__description {
  color: #444;
  font-size: 1.4rem;
  padding: 1.5rem;
}
.blocks__description--destack {
  color: #222;
  font-weight: 700;
}

.cars__title {
  color: #444;
}
.cars--destacks {
  border: 2px solid #222;
  background-color: #222;
  display: flex;
  height: max-content;
  align-items: baseline;
  flex-flow: column;
  border: 5px solid #f00;
}
.cars__item {
  border: 2px solid #444;
  background-color: #ddd;
  color: #559;
  /*display: flex;
  float: left;
  height: max-content;
  justify-content: center;
  align-items: baseline;
  flex-flow: column;*/
}
.cars__button {
  background-color: #444;
}
.cars__button--destack {
  background-color: #559;
}

.bikes {
  display: flex;
}

.destack {
  background-color: #222;
  padding: 1.5rem;
  margin-bottom: 30px;
}
.destack__title {
  color: #f00;
  float: left;
  font-size: 3rem;
  margin-top: 0;
}
.destack__subtitle {
  float: left;
  font-size: 1.4rem;
  color: #ddd;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.destack__image {
  width: 100%;
  height: auto;
  margin: 1.5rem auto;
}
.destack__description {
  font-size: 1.8rem;
  color: #ddd;
  width: 100%;
  padding: 2rem 0;
}

.header {
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  padding: 1.2rem 0;
}
.header .container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header__title {
  margin-top: 0;
  color: #222;
  float: left;
}
.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__item {
  margin: 0 10px;
}
.header__link {
  color: #222;
  font-weight: 700;
}
.header__link:hover {
  color: #559;
}
.header__input {
  height: 30px;
  border: 1px solid #222;
  font-size: 0.9rem;
  padding-left: 10px;
}
.header__button {
  height: 30px;
  width: 100px;
  color: #ddd;
  background-color: #222;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}
.header__button:hover {
  opacity: 0.7;
}

.footer {
  display: block;
  background-color: #ddd;
  margin: 50px auto 0 auto;
  padding: 1rem 0;
  width: 100%;
}
.footer__description {
  text-align: center;
}
.footer strong:hover {
  color: #559;
}
.footer__nav {
  display: flex;
  justify-content: center;
}
.footer__image {
  width: 40px;
  height: 40px;
  margin: 10px 10px;
}
.footer__image:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=style.css.map */
